.sidebar {
    flex: 1;
    min-height: 100vh;
    border-right: 0.5px solid lightgray;
    background-color: #1b262c;
  }
  
  .sidebar .top {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar .top .logo {
    font-size: 20px;
    font-weight: bold;
    color: #bbe1fa;
    margin-left: 50px;
  }
  
  .sidebar .bottom {
    padding-left: 10px;
  }
  
  .sidebar .bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar .bottom ul .title {
    font-size: 14px;
    font-weight: bold;
    color: #616161;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .sidebar .bottom ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
  }
  
  .sidebar .bottom ul li:hover {
    background-color: #275370;
    border-radius: 10px;
  }
  
  .sidebar .bottom ul .icon {
    font-size: 22px;
    color: #bbe1fa;
  }
  
  .sidebar .bottom ul span {
    font-size: 15px;
    font-weight: 300;
    color: #bbe1fa;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* Dropdown styles */
  .sidebar .bottom ul .dropdown {
    position: relative;
  }
  
  .sidebar .bottom ul .dropdown:hover .submenu {
    display: block;
  }
  
  .sidebar .bottom ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #275370;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
  }
  
  .sidebar .bottom ul .submenu li {
    padding: 8px 15px;
  }
  
  .sidebar .bottom ul .submenu li:hover {
    background-color: #1b6ca8;
    border-radius: 8px;
  }
  
  .dropdown-icon{
    color:whitesmoke;
  }