.productable{
    color: #616161;

    .tableCell{
        background-color: whitesmoke;
        color: #616161;

        .cellWrapper{
            display: flex;
            align-items: center;

            .image{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid #210876;
                margin-right: 10px;
            }
        }

        span{
            padding: 5px;
            border-radius: 5px;
            background-color: #275370;
            color: #ffff;
            cursor: pointer;
        }
    }
}