.newSupplier{
  display: flex;
  height: 100%;
  width: 100%;
}

.newSupplierContainer{
  flex: 6;
}

.newSupplierForm {
  display: grid;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newSupplierForm h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 768px) {
  .newSupplierForm {
    width: 80%;
  }
}
